﻿﻿<section id="dashboard-view" class="mainbar" ng-controller="expensesController">
	<h1>{{title}}</h1>

	<a href="/Home/#/expenses/create" class="btn btn-primary">Create new expense</a>

	<div class="span8">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Date</th>
					<th>Litres</th>
					<th>Overal price</th>
					<th>Mileage before refuel</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="expense in expenses">
					<td>
						<a href="/Home/#/expenses/{{expense.id}}/view">View</a>
						<a ng-click="delete($index)">Delete</a>
					</td>
					<td>{{expense.date | date: format : fullDate}}</td>
					<td>{{expense.litres}}</td>
					<td>{{expense.overallPrice}}</td>
					<td>{{expense.mileageBeforeRefuel}}</td>
				</tr>
			</tbody>
		</table>
		<div class="navbar">
			<nav>
				<ul class="pager">
					<li><a>Previous</a></li>
					<li><a>Next</a></li>
				</ul>
			</nav>
		</div>
	</div>

</section>