﻿<form role="form">
	<div class="row">
		<div class="col-md-2">
			&nbsp;
		</div>
		<div class="col-md-4">
			<h2 class="form-login-heading">Login</h2>
			<input type="text" class="form-control" placeholder="Username" data-ng-model="loginData.username" required autofocus>
			<input type="password" class="form-control" placeholder="Password" data-ng-model="loginData.password" required>
			<div class="checkbox">
				<label>
					<input type="checkbox" data-ng-model="loginData.rememberMe"><strong> Remember Me</strong>
				</label>
			</div>
			<button class="btn btn-md btn-info btn-block" type="submit" data-ng-click="login()">Login</button>
			<div data-ng-hide="message == ''" class="alert alert-danger">
				{{message}}
			</div>
		</div>
		<div class="col-md-2">
			&nbsp;
		</div>
	</div>
</form>