﻿<form class="form-login" role="form">
	<h2 class="form-login-heading">Sign up</h2>
	<input type="text" class="form-control" placeholder="Username" ng-model="registration.userName" required autofocus>
	<input type="password" class="form-control" placeholder="Password" ng-model="registration.password" required>
	<input type="password" class="form-control" placeholder="Confirm Password" ng-model="registration.confirmPassword" required>
	<input type="email" class="form-control" placeholder="Confirm Password" ng-model="registration.confirmPassword" required>
	<button class="btn btn-lg btn-info btn-block" type="submit" ng-click="signUp()">Submit</button>
	<div ng-hide="message == ''" data-ng-class="(registeredSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
		{{message}}
	</div>
</form>