﻿<div class="container" ng-controller="summaryViewCtrl">

	<h1>{{title}}</h1>

	<form novalidate class="simple-form" name="summaryForm" ng-submit="submitForm(expenseForm.$valid)">
		<div class="form-group">
			<label class="col-md-2 control-label">From:</label>
			<input type="date" ng-model="dateRange.from" name="date" class="form-control" required />
			<div ng-show="form.$submitted || form.date.$touched">
				<span ng-show="form.date.$error.required">The date is required.</span>
				<span ng-show="form.date.$error.date">This is not a valid date.</span>
			</div>
			<p ng-show="summaryForm.from.$invalid" class="help-block">The date is required.</p>
		</div>

		<div class="form-group">
			<label class="col-md-2 control-label">To:</label>
			<input type="date" ng-model="dateRange.to" name="date" class="form-control" required />
			<div ng-show="form.$submitted || form.date.$touched">
				<span ng-show="form.date.$error.required">The date is required.</span>
				<span ng-show="form.date.$error.date">This is not a valid date.</span>
			</div>
			<p ng-show="summaryForm.to.$invalid" class="help-block">The date is required.</p>
		</div>

		<div class="form-group">
			<input type="button" ng-click="clear()" value="Reset" class="btn btn-default" />
			<input type="submit" value="Get" ng-disabled="summaryForm.$invalid" class="btn btn-primary" />
		</div>
	</form>
	<hr />
	<div class="container" ng-show="isLoaded==true">
		<div class="col-md-12">
			<h1>Summary response</h1>

		</div>
		<form name="responseForm">
			<div class="row" ng-show="summary.message==undefined">
				<div class="col-md-4">
					<div class="form-group">
						<label for="refuelCount">Refuel count:</label>
						<input class="form-control" id="refuelCount" type="text" ng-model="summary.refuelCount" readonly />
					</div>
					<div class="form-group">
						<label for="litrespPerHundred">Litres consumption per 100 km:</label>
						<input class="form-control" type="text" id="litrespPerHundred" ng-model="summary.litrespPerHundred" readonly />
					</div>
					<div class="form-group">
						<label for="litresConsumedPerPeriod">Consumed litres:</label>
						<input class="form-control" type="text" id="litresConsumedPerPeriod" name="input" ng-model="summary.litresConsumedPerPeriod" readonly>
					</div>

					<div class="form-group">
						<label for="distanceTraveled">Traveled distance:</label>
						<input class="form-control" type="text" id="distanceTraveled" name="input" ng-model="summary.distanceTraveled" readonly>
					</div>
					<div class="form-group">
						<label for="spentMoney">Spent money:</label>
						<input class="form-control" type="text" id="spentMoney" name="input" ng-model="summary.spentMoney" readonly>
					</div>
				</div>
			</div>
			<div class="row" ng-show="summary.message!=undefined">
				<div class="col-md-8 row">
					<div class="form-group">
						<label for="message">Message:</label>
						<textarea rows="9" class="form-control" id="message" ng-model="summary.message" readonly></textarea>
					</div>
				</div>
			</div>
			<div class="row" ng-show="summary.message==undefined">
				<div class="col-md-12">
					<input class="btn btn-info" type="submit"
						   ng-click="saveReport(responseForm.$valid, summary)" value="Save report" /><br /><br />
				</div>
			</div>
		</form>

		<div class="span8 row">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Date</th>
						<th>Litres</th>
						<th>Overal price</th>
						<th>Mileage before refuel</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="expense in summary.expenses">
						<td>{{expense.date | date: format : fullDate}}</td>
						<td>{{expense.litres}}</td>
						<td>{{expense.overallPrice}}</td>
						<td>{{expense.mileageBeforeRefuel}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
