﻿﻿<section id="dashboard-view" class="mainbar" ng-controller="userSettingsCtrl">

	<h1>{{title}}</h1>

	<form class="form-login" role="form">
		<h4 class="form-login-heading">Now your currency is:</h4>
		<input type="text" class="form-control" placeholder="" ng-model="settings.currencyName" autofocus required readonly>

		<div ng-hide="errorMsg == ''" ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
			{{errorMsg }}
		</div>
	</form>

	<div class="form-group">
		<label class="control-label">Avaliable currencies:</label>

		<select ng-options="currency.name for currency in currencies" ng-model="selectedCurrency" ng-change="selectAction()" class="form-control"></select>
	</div>

	<div class="form-group" ng-hide="!isSelected">
		<button ng-click="updateCurrency()" class="btn btn-success">Update</button>
		<div ng-hide="updateError == ''" class="form-control">
			{{ updateError }}
		</div>
	</div>

</section>