﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
	<meta name="keywords" content="angularjs,SPA,Single Page Application,Fuel Expenses Manager Application,ASP.NET WEB API 2,Oleksandr Kulchytskyi" />
	<meta name="description" content="Fuel manager SPA built using angularjs,back end built using Asp.net WebApi 2 and OWIN Framework,creatd by Oleksandr Kulchytskyi" />
	<meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible" />
	<title>Fule manager application</title>
	<link href="content/bootstrap.min.css" rel="stylesheet" />
	<link href="content/site.css" rel="stylesheet" />
	<link href="content/font-awesome.min.css" rel="stylesheet" />
	<link href="content/social-buttons.css" rel="stylesheet" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>

<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="indexController">
		<div class="container">
			<div class="navbar-header">
				<button class="btn btn-success navbar-toggle" ng-click="navbarExpanded = !navbarExpanded">
					<span class="glyphicon glyphicon-chevron-down"></span>
				</button>
				<a class="navbar-brand" href="#/">Home</a>
			</div>
			<div class="collapse navbar-collapse" data-collapse="!navbarExpanded">
				<ul class="nav navbar-nav navbar-right">
					<li ng-hide="!authentication.isAuth"><a href="#/manageAccount">Welcome [ {{authentication.username}} ]</a></li>
					<li ng-hide="!authentication.isAuth"><a href="#/expenses">My expenses</a></li>
					<li ng-hide="!authentication.isAuth"><a href="#/expense/create">Create expense</a></li>
					<li ng-hide="!authentication.isAuth"><a href="#/settings">User settings</a></li>
					<li ng-hide="!authentication.isAuth"> <a href="#/summary/view">Summary</a></li>
					<li ng-hide="!authentication.isAuth"><a href="" ng-click="logOut()">Logout</a></li>
					<li ng-hide="authentication.isAuth"> <a href="#/login">Login</a></li>
					<li ng-hide="authentication.isAuth"> <a href="#/signup">Sign Up</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div id="divLoader" class="ajax-loader">
		<div>
			<img src="/Content/images/ajax-loader.gif" class="ajax-loader" />
		</div>
		<div class="progress progress-striped active">
			<div class="bar" style="width: 50%;"></div>
		</div>
	</div>

	<div class="container">
		<div ng-view>
		</div>
	</div>

	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<p class="text-muted">Created by Oleksandr Kulchytskyi. Twitter: <a target="_blank" href="http://twitter.com/alexanderkulchi">@@AlexanderKulchi</a></p>
				</div>
				<div class="col-md-6">
					<p class="text-muted">Mail to: <a target="_blank" href="#">sasha4as05@gmail.com</a></p>
				</div>
			</div>
		</div>
	</div>

	<script src="scripts/angular.min.js"></script>
	<script src="Scripts/angular-animate.min.js"></script>
	<script src="scripts/angular-cookies.min.js"></script>
	<script src="scripts/angular-route.min.js"></script>
	<script src="Scripts/angular-resource.min.js"></script>
	<script src="Scripts/angular-sanitize.min.js"></script>
	<script src="Scripts/angular-localStorage.min.js"></script>
	<script src="scripts/jquery-1.10.2.min.js"></script>
	<script src="scripts/jquery.validate.js"></script>
	<script src="scripts/respond.js"></script>
	<script src="scripts/bootstrap.min.js"></script>

	<script src="app/app.js"></script>
	<script src="app/directives/compareToDirective.js"></script>

	<script src="app/controllers/createExpenseCtrl.js"></script>
	<script src="app/controllers/editExpenseCtrl.js"></script>
	<script src="app/controllers/ExpenseModel.js"></script>
	<script src="app/controllers/expensesController.js"></script>
	<script src="app/controllers/homeController.js"></script>
	<script src="app/controllers/indexController.js"></script>
	<script src="app/controllers/loginController.js"></script>
	<script src="app/controllers/signupController.js"></script>
	<script src="app/controllers/viewExpenseCtrl.js"></script>
	<script src="app/controllers/userSettingsCtrl.js"></script>
	<script src="app/controllers/summaryViewCtrl.js"></script>
	<script src="app/controllers/manageAccountCtrl.js"></script>

	<script src="app/services/authInterceptorService.js"></script>
	<script src="app/services/authService.js"></script>
	<script src="app/services/busyHttpService.js"></script>
	<script src="app/services/crudService.js"></script>
	<script src="app/services/popupService.js"></script>

</body>
</html>
